
.file-input{
    display: none;
}

.file_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5px 15px;
    background-color: white;
    padding-left: 10px;
}

.upload-btn{
    border: none;
    max-width: 30px;
    max-height: 30px;
    background-color: rgb(102, 101, 101);
    color: rgb(175, 172, 172);
    font-weight: bold;
    font-size: large;
}