<div class="addCommemorative">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>{{pageTexts.title[language]}}</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-vertical-stepper>
            <mat-step [stepControl]="basicDataForm">
                <form [formGroup]="basicDataForm">
                    <ng-template matStepLabel>{{pageTexts.basicDataStep[language]}}</ng-template>

                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.deceasedName[language]}}</mat-label>
                        <input 
                            matInput 
                            formControlName="deceasedName" 
                        >
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.biography[language]}}</mat-label>
                        <textarea 
                            matInput 
                            formControlName="biography" 
                            required
                        ></textarea>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.about[language]}}</mat-label>
                        <textarea 
                            matInput 
                            formControlName="about" 
                            required
                        ></textarea>
                    </mat-form-field>
                    
        
                    <label class="file_button" [class]="deceaseImage ? ' valid ' : 'invalid '" #fileButton>
                        <input 
                            type="file" 
                            (change)="onFileSelected($event, 'deceaseImage')" 
                            accept="image/*" 
                            class="file-input" 
                            #deceaseImageInput 
                            required
                        >   
                        {{deceaseImage?.name || pageTexts.deceaseImage[language]}}
                        <button (click)="deceaseImageInput.click()" type="button" class="upload-btn">
                            +
                        </button>
                    </label>  
                    
                    <mat-form-field class="example-full-width">
                        <mat-label>{{ pageTexts.birthDate[language] }}</mat-label>
                        <input 
                            matInput 
                            formControlName="birthDate" 
                            [matDatepicker]="birthDatePicker"
                        >
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #birthDatePicker></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                        <mat-label>{{pageTexts.deathDate[language]}}</mat-label>
                        <input 
                            matInput 
                            formControlName="deathDate" 
                            [matDatepicker]="deathDatePicker"
                        >
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="deathDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #deathDatePicker></mat-datepicker>
                    </mat-form-field>
                </form>

                <button mat-button matStepperNext>{{pageTexts.Next[language]}}</button>
            </mat-step>
            <mat-step  [stepControl]="technicalDataForm" >
                <form [formGroup]="technicalDataForm">
                    <ng-template matStepLabel>{{pageTexts.technicalDataStep[language]}}</ng-template>

                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.state[language]}}</mat-label>
                        <input matInput formControlName="state">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.city[language]}}</mat-label>
                        <input matInput formControlName="city" >
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{pageTexts.partnerType[language]}}</mat-label>
                        <mat-select formControlName="partnerType">
                            <mat-option value='Wife'>{{pageTexts.Wife[language]}}</mat-option>
                            <mat-option value="Husband">{{pageTexts.Husband[language]}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill">
                        <label>Partner Type</label>
                        <mat-radio-group formControlName="partnerType" >
                          <mat-radio-button value="Wife">Wife</mat-radio-button>
                          <mat-radio-button value="Husband">Husband</mat-radio-button>
                        </mat-radio-group>
                    </mat-form-field> -->
                                    
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.partnerName[language]}}</mat-label>
                        <input matInput formControlName="partnerName" >
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.fatherName[language]}}</mat-label>
                        <input matInput formControlName="fatherName" >
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.motherName[language]}}</mat-label>
                        <input matInput formControlName="motherName" >
                    </mat-form-field>

                    <mat-form-field class="example-chip-list">
                        <mat-label> </mat-label>
                        <mat-chip-grid #chipGrid aria-label="Enter kids">
                            <mat-chip-row *ngFor="let kid of childrenNames"
                                        (removed)="removeKid(kid)"
                                        [editable]="true"
                                        (edited)="editKid(kid, $event)"
                                        [aria-description]="'press enter to edit ' + kid">
                            {{kid}}
                            <button matChipRemove [attr.aria-label]="'remove ' + kid">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            </mat-chip-row>
                            <input
                                [matChipInputFor]="chipGrid"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true"
                                [placeholder]="pageTexts.childrenNames[language]"
                                (matChipInputTokenEnd)="addKid($event)"/>
                        </mat-chip-grid>
                    </mat-form-field>
                    
                    <button mat-button matStepperPrevious>{{pageTexts.Previous[language]}}</button>
                    <button mat-button matStepperNext>{{pageTexts.Next[language]}}</button>
                </form>
            </mat-step>
            <mat-step [stepControl]="graveDataForm" >
                <form [formGroup]="graveDataForm">
                    <ng-template matStepLabel>{{pageTexts.graveDataStep[language]}}</ng-template>
                    
                    <input type="file" (change)="onFileSelected($event, 'graveImage')" accept="image/*" class="file-input" #graveImageInput>   
                    <label class="file_button" [class]="graveImage ? ' valid ' : 'invalid '" #fileButton>
                        {{graveImage?.name || pageTexts.graveImage[language]}}
                        <button (click)="graveImageInput.click()" type="button" class="upload-btn">
                            +
                        </button>
                    </label>    

                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.graveYardName[language]}}</mat-label>
                        <input matInput formControlName="graveYardName" >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>{{pageTexts.locationLink[language]}}</mat-label>
                        <input matInput formControlName="locationLink" >
                    </mat-form-field>
                </form>
                
                <mat-card-actions>
                    <button mat-button matStepperPrevious>{{pageTexts.Previous[language]}}</button>
                </mat-card-actions>

            </mat-step>
        </mat-vertical-stepper>
        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary" 
                [disabled]="!basicDataForm.valid || !technicalDataForm.valid || !graveDataForm.valid" 
                (click)="submit()" type="submit"
            >
                {{pageTexts.submit[language]}}
            </button>
        </mat-card-actions>

    </mat-card>
</div>