<div class="addCommemorative">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2 i18n="@@Add/EditMode">{{(this.editMode ? 'Edit ' : 'Add ') + 'Commemorative'}}</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-vertical-stepper>
            <mat-step [stepControl]="basicDataForm">
                <form [formGroup]="basicDataForm">
                    <ng-template matStepLabel i18n="@@Fill out decease info">Fill out decease info</ng-template>

                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Deceased Name">Deceased Name</mat-label>
                        <input 
                            matInput 
                            formControlName="deceasedName" 
                        >
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Biography">Biography</mat-label>
                        <textarea 
                            matInput 
                            formControlName="biography" 
                            required
                        ></textarea>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@About">About</mat-label>
                        <textarea 
                            matInput 
                            formControlName="about" 
                            required
                        ></textarea>
                    </mat-form-field>
                    
        
                    <label class="file_button" [class]="deceaseImage ? ' valid ' : 'invalid '" #fileButton>
                        <input 
                            type="file" 
                            (change)="onFileSelected($event, 'deceaseImage')" 
                            accept="image/*" 
                            class="file-input" 
                            #deceaseImageInput 
                            required
                            i18n="@@Decease Image"
                        >   
                        {{deceaseImage?.name || "Decease Image"}}
                        <button (click)="deceaseImageInput.click()" type="button" class="upload-btn">
                            +
                        </button>
                    </label>  
                    
                    <mat-form-field class="example-full-width">
                        <mat-label i18n="@@Date of Birth">Date of Birth</mat-label>
                        <input 
                            matInput 
                            formControlName="birthDate" 
                            [matDatepicker]="birthDatePicker"
                        >
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #birthDatePicker></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field class="example-full-width">
                        <mat-label i18n="@@Date of Death">Date of Death</mat-label>
                        <input 
                            matInput 
                            formControlName="deathDate" 
                            [matDatepicker]="deathDatePicker"
                        >
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="deathDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #deathDatePicker></mat-datepicker>
                    </mat-form-field>
                </form>

                <button mat-button matStepperNext  i18n="@@Next">Next</button>
            </mat-step>
            <mat-step  [stepControl]="technicalDataForm" >
                <form [formGroup]="technicalDataForm">
                    <ng-template matStepLabel  i18n="@@Fill out decease info">Fill out decease info</ng-template>

                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@State">State</mat-label>
                        <input matInput formControlName="state">
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@City">City</mat-label>
                        <input matInput formControlName="city" >
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label i18n="@@Partner Type">Partner Type</mat-label>
                        <mat-select formControlName="partnerType">
                            <mat-option i18n="@@Wife" value='Wife'>Wife</mat-option>
                            <mat-option i18n="@@Husband" value="Husband">Husband</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill">
                        <label>Partner Type</label>
                        <mat-radio-group formControlName="partnerType" >
                          <mat-radio-button value="Wife">Wife</mat-radio-button>
                          <mat-radio-button value="Husband">Husband</mat-radio-button>
                        </mat-radio-group>
                    </mat-form-field> -->
                                    
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Partner Name">Partner Name</mat-label>
                        <input matInput formControlName="partnerName" >
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Father Name">Father Name</mat-label>
                        <input matInput formControlName="fatherName" >
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Mother Name">Mother Name</mat-label>
                        <input matInput formControlName="motherName" >
                    </mat-form-field>

                    <mat-form-field class="example-chip-list">
                        <mat-label  i18n="@@Children"> Children</mat-label>
                        <mat-chip-grid #chipGrid aria-label="Enter kids">
                            <mat-chip-row *ngFor="let kid of childrenNames"
                                        (removed)="removeKid(kid)"
                                        [editable]="true"
                                        (edited)="editKid(kid, $event)"
                                        [aria-description]="'press enter to edit ' + kid">
                            {{kid}}
                            <button matChipRemove [attr.aria-label]="'remove ' + kid">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            </mat-chip-row>
                            <input
                                [matChipInputFor]="chipGrid"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="true"
                                placeholder="Children Names"
                                i18n-placeholder="@@Children Names"
                                (matChipInputTokenEnd)="addKid($event)"/>
                        </mat-chip-grid>
                    </mat-form-field>
                    
                    <button mat-button matStepperPrevious i18n="@@Previous">Previous</button>
                    <button mat-button matStepperNext i18n="@@Next">Next</button>
                </form>
            </mat-step>
            <mat-step [stepControl]="graveDataForm" >
                <form [formGroup]="graveDataForm">
                    <ng-template matStepLabel i18n="@@Grave details">Grave details</ng-template>
                    
                    <input 
                        type="file" 
                        i18n="@@submit" 
                        (change)="onFileSelected($event, 'graveImage')" 
                        accept="image/*" 
                        class="file-input" 
                        #graveImageInput
                    >   
                    <label 
                        class="file_button" 
                        i18n="@@Grave Image" 
                        [class]="graveImage ? ' valid ' : 'invalid '" 
                        #fileButton
                    >
                        {{graveImage?.name || "Grave Image"}}
                        <button (click)="graveImageInput.click()" type="button" class="upload-btn">
                            +
                        </button>
                    </label>    

                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Grave Yard Name">Grave Yard Name</mat-label>
                        <input matInput formControlName="graveYardName" >
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label i18n="@@Location Link">Location Link</mat-label>
                        <input matInput formControlName="locationLink" >
                    </mat-form-field>
                </form>
                
                <mat-card-actions>
                    <button i18n="@@Previous" mat-button matStepperPrevious>Previous</button>
                </mat-card-actions>

            </mat-step>
        </mat-vertical-stepper>
        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary" 
                [disabled]="!basicDataForm.valid || !technicalDataForm.valid || !graveDataForm.valid" 
                (click)="submit()" type="submit"
                i18n="@@Submit"
            >
                Submit
            </button>
        </mat-card-actions>

    </mat-card>
</div>