<header class="header">
    <a routerLink="/commemorative_list">
        <h1>Remember</h1>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a 
            *ngIf="url !== 'add_commemorative' && authService.isLoggedIn()" 
            routerLink="add_commemorative" 
            i18n="@@Add Commemorative"
            class="add-commemorative"
            mat-menu-item
        >
            Add Commemorative
        </a>

        <a  mat-menu-item *ngIf="!authService.isLoggedIn()" class="auth" routerLink="/login" i18n="@@Login">Login</a>
        <a  mat-menu-item *ngIf="!authService.isLoggedIn()" class="auth" routerLink="/register" i18n="@@Register">Register</a>
        <button  mat-menu-item class="logout" (click)="authService.logout()" *ngIf="authService.isLoggedIn()" i18n="@@logout">logout</button>
        <a  mat-menu-item i18n="@@Change To Language" [href]="'/' + (language === 'he' ? 'en' : 'he') + router.url">עברית</a>
    </mat-menu>
    
</header>