.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #f8f9fa;
    gap: 0;
}

button, a{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.add-commemorative{
    margin-left: 1rem;

}

.auth{
    display: flex;
    align-items: center;
}

.logout{
    margin-left: 1rem;
}
