<input type="file" (change)="onFileSelected($event)" #image>
<button (click)="image.click()" class="addImage" mat-mini-fab color="primary" >
    <mat-icon>plus_one</mat-icon>
</button>

<div class="imageContainer">
    <div *ngFor="let img of imagesService.deceaseImages" class="img">
        <button 
            (click)="deleteImage(img.deceaseImageID)" 
            *ngIf="auth.user.userID === img.userID || auth.user.role === 'admin'" 
            class="delete" 
            mat-mini-fab 
            color="warn" 
        >
            <mat-icon>remove</mat-icon>
        </button>

        <img  src={{img.imageName}} alt="">

    </div>
</div>
