<div class="centerCard">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <mat-form-field>
                    <input i18n="@@Email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field>
                    <mat-label i18n="@@Enter your password">Enter your password</mat-label>
                    <input i18n-placeholder="@@Password" placeholder="Password" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field>
                    <mat-label i18n="@@Enter your confirm password">Enter your confirm password</mat-label>
                    <input i18n-placeholder="@@Confirm password" placeholder="Confirm password" formControlName="confirmPassword" matInput [type]="hideConfirm ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'hide password'" [attr.aria-pressed]="hideConfirm">
                    <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                
                <mat-form-field>
                    <input i18n-placeholder="@@First Name" matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>

                <mat-form-field>
                    <input i18n-placeholder="@@Last Name" matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>

                <mat-form-field>
                    <input i18n-placeholder="@@City" matInput placeholder="City" formControlName="city">
                </mat-form-field>

                <mat-form-field>
                    <input i18n-placeholder="@@State" matInput placeholder="State" formControlName="state">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label i18n="@@Choose a date">Choose a date</mat-label>
                    <input i18n-placeholder="@@Date of Birth" matInput placeholder="Date of Birth" formControlName="birthDate" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <button type="submit" i18n="@@Register" mat-raised-button color="primary" type="submit">Register</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
